/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.nav1__wrapper > ul {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav1__wrapper > ul >li{
    display: inline;
}
h1{
    display: inline-block;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    margin: 5px 5px;
}
h2{
    font-size: 28px;
    color:black;
    line-height: 0.2;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 28px;
    color:coral;
    line-height: 0.2;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color:black;
    line-height: 1;
}
.main__wrapper{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.main-header__wrapper{ 
    background-color:lightgrey;
    padding: 0;
    margin: 0;
}
.main_title {
    margin-left: calc(10% - 30px);
    display: inline;
    color:rgb(170, 170, 170);
}
.nav1__wrapper{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.nav1__wrapper a{
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color:white;
}

.main-nav__wrapper {
    -webkit-box-shadow: 2px 2px 1px darkslategrey;
            box-shadow: 2px 2px 1px darkslategrey;
    padding: 15px;
    margin: 10px 6%;
    border-radius: 5px;
    float: right;
    display: inline;
    background-image: url(img/gradient_nav.png);
}
.spacer{
    color:white;
    font-size: 25px;
    display:inline;
}
.navsocialmedia__wrapper{
    display: inline;
}
.navsocialmedia__wrapper a{
    padding: 10px;
    color:white;
}

.main-intro__wrapper {
    position: relative;
    width: 100%;
    height: 500px;
}

.img-zdjecie {
    margin: 30px 120px;
    width: 30%;
    min-width: 350px;
    height: auto;
}
.img-circle1 {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    height: auto;
    top: 15%;
    right: 0px;
}

.img-circle2 {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 20%;
    height: auto;
    top: 55%;
    left: 25%;
    z-index: -1;
}

.img-circle3 {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 15%;
    height: auto;
    top: 0px;
    left: 0px;
}

.shortintro{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 4px 4px 2px dimgray;
            box-shadow: 4px 4px 2px dimgray;
    border-radius: 15px;
    width: 45%;
    min-width: 400px;
    top: 75px;
    left: 33%;
    padding: 10px;
    height: auto;
}
.shortintro > h2{
    margin-left: 10px;
}
.shortintro > h3{
    margin-left: 10px;
}
.shortintro > p{
    margin-left: 10px;
}
.shortintro_buttons{
    text-align: right;
}
.img-dev_icon{
    margin: 5px 10px 0px;
    width: 30px;
    float: right;
}
.img-bitbucket_icon{
    margin: 5px 15px 0px 0px ;
    width: 30px;
    float: right;
}
.shortintro_pdistance_buttons{
    float: right;
}
.quickhire{
    position: absolute;
    top: 330px;
    left: 59%;
    width: 300px;
}
.quickhire__textoverimg{
    position: relative;
    float: right;
}
.quickhire__text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.quickhire__text >p{
    color:white;
}
.quickhire_titleclass{
    text-align: right;

}
.quickhire_paragraphclass{
    text-align: right;

}
.img-button_01{
    float: right;
    width: 140px;
    height: auto;  
}
.img-button_02{
    float: right;
    width: 140px;
    height: auto;
    padding: 0px 10px 0px 0px;
}
.quickhire__text:hover{
    cursor: pointer;
}

.main-allabout__wrapper{
    overflow: auto;
    position: relative;
    width:90%;
    margin: 5px auto;
}
.main_allaboutleftside__wrapper{
    float:left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 40px;
    margin: 10px 30px;
    width:calc(50% - 60px); 
}
.aboutme__text-first{
    padding-top: 15px;
}
.aboutme__text-main{
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1;
}
.myinterests__wrapper{
    width: 100%;
}
.myinterests__wrapper >h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.myinterests__wrapper > ul{
    display: block;
    list-style-type: disc;
    padding-left: 20px;
    padding-bottom: 15px;
}
.myinterests__wrapper >ul > li{
    font-size: 17px;
    display: list-item;
}
.myinterests__wrapper >p {
    float:right;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
}
.img-button_easycode{
    width: 100px;
    float: right;
}
.skills__wrapper{
    float: right;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 4px #888888;
            box-shadow: 5px 5px 4px #888888;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    padding: 20px 40px;
    margin: 10px 30px 30px 30px;
    width: calc(50% - 60px);
}
.skills__text-main{
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1;
    padding: 10px 0px 30px 0px;
}

.skills__wrapper > div {
    background-color:lightgrey;
    width: 90%;
    border-radius: 10px;
    position:relative;
    margin: 15px 10px 15px 0px;
    height: 40px;
}
.skills__wrapper > div > div{
    position: absolute;
    top:0;
    right:0;
    display: inline;
}
.skills__wrapper > div > div[class*="html"]{right:10%;}
.skills__wrapper > div > div[class*="js"]{right:10%;}
.skills__wrapper > div > div[class*="nodejs"]{right:40%;}
.skills__wrapper > div > div[class*="css"]{right:10%;}
.skills__wrapper > div > div[class*="go"]{right:40%;}

.skills__wrapper > div > img {
    display: inline;
    border-radius: 10px;
    height: 40px;
    -webkit-box-shadow: 2px 2px 1px #888888;
            box-shadow: 2px 2px 1px #888888;
}

.img-skills_gradient_100{width: 100%;}
.img-skills_gradient_90{width: 90%;}
.img-skills_gradient_60{width: 60%;}

.skills__wrapper > div >div >p {
    line-height: 0;
    padding-top: 4px;
    padding-right: 10px;
    color:white;
}
.main-tools__wrapper{
    position: relative;
    width:90%;
    padding-left: 10%;
    background-color: rgb(239, 202, 174);
}
.main-tools__wrapper > h2{
    padding-top: 20px;
}
.main-tools__wrapper > h3{
    padding-bottom: 5px;
}
.main-tools__wrapper > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.main-tools__wrapper > div >div {
    vertical-align: top;
    background-color: white;
    -webkit-box-shadow: 3px 3px 2px darkslategrey;
            box-shadow: 3px 3px 2px darkslategrey;
    border-radius: 10px;
    margin: 10px 5px;
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    z-index: 2;
}
.main-tools__wrapper > div >div >p{
    font-size: 12px;
    text-align: center;
    line-height: 0.2;
    z-index: 2;
}
.main-tools__wrapper > div >div >img{
    display: block;
    margin: 10px auto 0px;
    z-index: 2;
}

.main-portfolio__wrapper{
    margin: 50px 10% 0px;
    position: relative;
}
.main-portfolio__wrapper >p{
    width: 50%;
}

.main-portfolio__wrapper > div > div{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 2px dimgray;
            box-shadow: 4px 4px 2px dimgray;
    margin: 10px 20px 10px 0px;
    padding: 5px;
}
.main-portfolio__img--external_icon{
    margin: 0px 10px 5px 5px;
    width: 30px;
    height: auto;
    display: block;
    float:right;
}
.main-portfolio__img--bitbucket_icon{
    margin: 0px 5px 5px 5px;
    width: 30px;
    float: right;
    display: block;
}
.main-portfolio__img--sushi{
    display:block;
    margin:10px;
}
.main-portfolio__img--explore{
    display:block;
    margin:10px;
}
.main-portfolio__img--ecourse{
    display:block;
    margin:10px;
}
.main-portfolio__img--discover{
    display:block;
    margin:10px;
}
.main-portfolio__img--logotype{
    display:block;
    margin:10px;
}
.main-portfolio__img--onlineshop{
    display:block;
    margin:10px;
}
.tools-img-circle3{
    position: absolute;
    width: 300px;
    right: 0px;
    top: 125px;
    z-index: 0;
}
.portoflio-img-circle4{
    position: absolute;
    width: 450px;
    right: 0px;
    top:150px;
    z-index: -1;
}
.blogposts-img-circle4{
    position: absolute;
    width: 250px;
    left: -12.5%;
    top:175px;
    z-index: -1;
}
.main-blogposts__wrapper{
    margin: 10px 10%;
    position: relative;
}
.main-blogposts__post1-text-wrapper{
    width:60%;
    display: block;
    overflow: auto;
}
.main-blogposts__post1-text-wrapper > a{
    text-decoration: none;
}
.main-blogposts__post1-text-wrapper > h3{
    padding-top: 30px;
}
.main-blogposts__post1-text-wrapper > div{
    display: block;
}
.main-blogposts__post1-title-wrapper{
    float:left;
}
.main-blogposts__post1-date-wrapper{
    float:right;
}
.main-blogposts__post1-date-wrapper > p{
    color:pink;
}
.main-blogposts__post1-read-more{
    color:pink;
    text-align: center;
}
.main-blogposts__post1-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-blogposts__post1-img{
    -webkit-box-shadow: 2px 2px 1px dimgray;
            box-shadow: 2px 2px 1px dimgray;
    border-radius: 10px;
    margin: 10px 30px 0px 0px;
    width:350px;
    float:left;
}
.main-blogposts__post2-wrapper{
    margin-bottom: 40px;
}
.main-blogposts__post2-text-wrapper{
    width:60%;
    display: block;
    overflow: auto;
}
.main-blogposts__post2-text-wrapper > a{
    text-decoration: none;
}
.main-blogposts__post2-text-wrapper > h3{
    padding-top:30px;
}
.main-blogposts__post2-text-wrapper > div{
    display: block;
}
.main-blogposts__post2-title-wrapper{
    float:left;
}
.main-blogposts__post2-date-wrapper{
    float:right;
}
.main-blogposts__post2-date-wrapper > p{
    color:pink;
}
.main-blogposts__post2-read-more{
    color:pink;
    text-align: center;
}
.main-blogposts__post2-wrapper{
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-blogposts__post2-img{
    -webkit-box-shadow: 2px 2px 1px dimgray;
            box-shadow: 2px 2px 1px dimgray;
    border-radius: 10px;
    margin: 10px 30px 0px 0px;
    width:350px;
    float:left;
}

.main-contactme__wrapper{
    background-color: rgb(239, 202, 174);
    padding: 20px 10%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.main-contactme__wrapper> div{
    width:50%;
}
.main-contactme__wrapper> div >p{
    width:80%;
}
input[type=text]{
    -webkit-box-shadow: 2px 2px 1px dimgray;
            box-shadow: 2px 2px 1px dimgray;
    border: 0px;
    padding: 10px 10px;
    margin: 0px 0px;
    border-radius: 5px;
    width: 60%;
    color:dimgray;
}
input[type=submit]{
    background-image: url(img/button_01.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
    -webkit-box-shadow: 2px 2px 1px dimgray;
            box-shadow: 2px 2px 1px dimgray;
    padding: 15px 20px;
    border: 0px;
    border-radius: 5px;
    width: 20%;
    color: white;
    display: inline;
}
textarea{
    -webkit-box-shadow: 2px 2px 1px dimgray;
            box-shadow: 2px 2px 1px dimgray;
    border: 0px;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: -20px;
    border-radius: 5px;
    width: 60%;
    height: 170px;
    color:dimgray;
    resize:none;
    display: inline;
}

.main-contactme__basicinfo{
    padding: 10px;
    position: relative;
    top: 120px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 1px dimgray;
            box-shadow: 2px 2px 1px dimgray;
    width: 270px;
    height: 60px;
}
.main-contactme__basicinfo-email{
    position: absolute;
    top: 10px;
    left: 25px;
    width: 50px;
}
.main-contactme__basicinfo-call{
    position: absolute;
    top: 20px;
    left: 5px;
    width: 50px;
}
.main-contactme__basicinfo-text{
    position: absolute;
    left:85px;
    top: 10px;
}
.main-contactme__basicinfo-text >p{
    line-height: 0.4;
}
.main-contactme__zdjecie-img{
    float:right;
    padding-top: 20px;
    width: 300px;
}
.main-contactme__fullinfo{
    float:right;
    text-align: right;
}
.main-contactme__fullinfo >p{
    word-break: break-all;
    word-wrap: break-word;
    line-height: 0.1;
}
.main-contactme__wrapper >form {
    padding:5px;
}
.contactme-img-circle4{
    position: absolute;
    width: 300px;
    right: 25%;
    top: -50px;
    z-index: 0;
}
@media only screen and (max-width: 900px){
    .main-nav__wrapper{
        position: absolute;
        top:0;
        right:0;
        padding:10px
    }
    .main-intro__wrapper{
        height:900px
    }
    .nav1__wrapper a{
        padding: 5px 5px;
    }
    .navsocialmedia__wrapper a{
        padding: 5px;
    }
    .main-nav__wrapper {
        margin: 10px 10px;
    }
    .img-zdjecie {
        margin: 30px 30px;
    }
    .main-allabout__wrapper{
        width:100%;
        margin: 5px auto;
    }
    .main_allaboutleftside__wrapper{
        padding: 20px 20px;
        margin: 10px 10px;
        width:calc(50% - 40px); 
    }
    .skills__wrapper{
        padding: 20px 20px;
        margin: 10px;
        width: calc(50% - 40px);
    }
    .main-tools__wrapper{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width:100%;
        padding-left: 30px;
    }
    .main-portfolio__wrapper{
        margin: 50px 20px 0px;
    }
    .main-blogposts__wrapper{
        margin: 10px 20px;
    }
    .main-blogposts__post1-img{
        margin: 10px 20px 0px 0px;
        width:250px;
    }
    .main-blogposts__post2-img{
        margin: 10px 20px 0px 0px;
        width:250px;
    }
    .main-contactme__wrapper{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 20px 20px;
        width: 100%;
    }
    .contactme-img-circle4{
        width: 200px;
    }
    .shortintro{
        position:absolute;
        margin-left: auto;
        margin-right: auto;
        top: 400px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .quickhire{
        position:absolute;
        margin-left: auto;
        margin-right: auto;
        top: 650px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .main-contactme__fullinfo >p{
        word-break: auto;
        word-wrap: break-word;
        line-height:1;
        padding: 0px;
        margin: 0px;
    }
    
}
    @media only screen and (max-width: 700px){
        .main_allaboutleftside__wrapper{
            padding: 20px 20px;
            width:95%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; 
        }
        .skills__wrapper{
            padding: 20px 20px;
            width:95%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; 
        }
        .main-contactme__wrapper{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 100%
        }
        .main-contactme__wrapper> div{
            width:100%;
        }
        .main-contactme__basicinfo{
            left:0;
        }
        .main-blogposts__post1-text-wrapper >h3{
            word-break:normal;
            word-wrap:normal;
            line-height:1;
            padding: 0px;
            margin-top:40px;
        }
        .main-blogposts__post1-text-wrapper{
            flex-direction: column;
        }
        .main-blogposts__post2-text-wrapper >h3{
            word-break:normal;
            word-wrap:normal;
            line-height:1;
            padding: 0px;
            margin-top:40px;
        }
        .main-blogposts__post2-text-wrapper{
            flex-direction: column;
        }
    }
